body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1616712134411-6b6ae89bc3ba?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100%{
     background-position:0px -3000px;
   }
}

#player {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(107, 107, 107);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#login {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(92, 92, 92);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

#search {
    margin-bottom: 20px;
}

#song-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

#cover {
    width: 150px;
    height: 150px;
}

#controls {
    margin-top: 20px;
}

#playlist, #favorites {
    margin-top: 20px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

li:hover {
    background: #f0f0f0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewPassword,
#loginBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
